.profile-wrapper {
}

.box-wrapper {
  background-color: #8b8bae;
  width: 90%;
  border-radius: 6px;
  margin: 150px 0 50px 0;
}

.img-wrapper img {
  border-radius: 50%;
  margin-top: -80px;
  margin-bottom: 5px;
}

.profile-name {
  font-size: 30px;
}
