.body-wrapper {
  background-color: #efeef1;
}

.body-wrapper h1 {
  margin: 25px 0 0 0;
  padding: 0;
}
.suggestion-all-pets {
  color: white;
  background-color: #198754;
  padding: 10px;
  border-radius: 6px;
}

.suggestion {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 25px 10px;
}
